extends layout
block content
	h1 #{title}
	div.row
		div.col-sm-6.mx-auto
			if country !== undefined
				form.form(role="form" action="../edit", method="POST")
					input(type="hidden" name="_id" value= country._id)
					div.form-group.col-sm-12
						label(for="name") Nombre:
						input.form-control(placeholder="Nombre del Pais", name="name", id="name", required="true" value= country.name)
					div.form-group.col-sm-12
						label(for="description") Descripcion:
						textarea.form-control(placeholder="Descripcion del pais", name="description", id="description" value= country.description)
					div.form-group.col-sm-12
						label(for="capital") Capital:
						input.form-control(placeholder="Capital del pais", name="capital", id="capital" value= country.capital)
					div.form-group.col-sm-12
						label(for="currency") Moneda Oficial:
						input.form-control(placeholder="Moneda Oficial del pais", name="currency", id="currency" value= country.currency)
					div.form-group.col-sm-12
						label(for="continent") Continente:
						input.form-control(placeholder="Continente", name="continent", id="continent" value= country.continent)
					div.form-group.col-sm-12
						label(for="flagPhotoUrl") Bandera Imagen URL:
						input.form-control(placeholder="Bandera Imagen URL", name="flagPhotoUrl", id="flagPhotoUrl" value= country.flagPhotoUrl)
					div.form-group(class="ml-auto col-sm-6")
						div.pull-right
							button.btn(type="submit" class="btn-danger") Editar
			else
				form.form(role="form" action="create", method="POST")
					div.form-group.col-sm-12
						label(for="google_id") Google ID:
						input.form-control(placeholder="Google ID", name="google_id", id="google_id", required="true")
					div.form-group.col-sm-12
						label(for="description") Descripcion:
						textarea.form-control(placeholder="Descripcion del pais", name="description", id="description")
					div.form-group.col-sm-12
						label(for="capital") Capital:
						input.form-control(placeholder="Capital del pais", name="capital", id="capital")
					div.form-group.col-sm-12
						label(for="currency") Moneda Oficial:
						input.form-control(placeholder="Moneda Oficial del pais", name="currency", id="currency")
					div.form-group.col-sm-12
						label(for="continent") Continente:
						input.form-control(placeholder="Continente", name="continent", id="continent")
					div.form-group.col-sm-12
						label(for="flagPhotoUrl") Bandera Imagen URL:
						input.form-control(placeholder="Bandera Imagen URL", name="flagPhotoUrl", id="flagPhotoUrl")
					div.form-group(class="ml-auto col-sm-12")
						div.float-md-right
							button.btn(type="submit" class="btn-danger") Crear Pais
