doctype html
html(lang="es")
  head
    title #{title} | #{site_title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(href="/now-ui-kit/css/bootstrap.min.css", rel="stylesheet")
    link(href="/now-ui-kit/css/now-ui-kit.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css" media="screen" rel="stylesheet")
  body
    nav.navbar.bg-info.navbar-transparent.navbar-light.navbar-expand-lg.fixed-top(color-on-scroll="300")
      .container
        .navbar-translate
          a.navbar-brand(href="/api/site/admin" rel="tooltip" data-placement="bottom") Tripguide
        .collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/api/site/admin") 
                i.now-ui-icons.business_bank
                | Inicio
            li.nav-item
              a.nav-link(target="_blank" href="/api/site/admin/places/idfinder") 
                i.now-ui-icons.objects_key-25
                |  Buscar ID
                
            li.nav-item
              a.nav-link(href="/api/site/admin/places")
                i.now-ui-icons.location_pin
                |  Lugares
            li.nav-item
              a.nav-link(href="/api/site/admin/cities") 
                i.now-ui-icons.location_world
                |  Cuidades
            li.nav-item
              a.nav-link(href="/api/site/admin/regions")
                i.now-ui-icons.location_pin
                |  Regiones
            li.nav-item
              a.nav-link(href="/api/site/admin/countries")
                i.now-ui-icons.location_world
                |  Paises
            li.nav-item
              a.nav-link(href="/api/site/admin/tours") 
                i.now-ui-icons.location_map-big
                |  Tours
            li.nav-item.dropdown
              a.nav-link.btn.btn-neutral.dropdown-toggle(href="/api/site/admin" data-toggle="dropdown" id="adminDropdown" aria-haspopup="true" aria-expanded="false") 
                i.now-ui-icons.ui-1_simple-add
                |  Agregar Nuevo
              ul.dropdown-menu(aria-labelledby="#adminDropdown")
                a.nav-link(href="/api/site/admin/places/search") Agregar Lugar
                a.nav-link(href="/api/site/admin/cities/create") Agregar Ciudad
                a.nav-link(href="/api/site/admin/regions/create") Agregar Region
                a.nav-link(href="/api/site/admin/countries/create") Agregar Pais
                a.nav-link(href="/api/site/admin/cities") Agregar Tour
            li.nav-item
              a.nav-link(href="/api/site/admin/logout") 
                i.now-ui-icons.ui-1_simple-remove
                |  Salir
    .page-header.page-header-small.clear-filter
      .page-header-image#dashboard-pages-header(data-parallax="false")
      .container
        .content-center
          h1.title Tripguide
          h3.description Panel de Administracion
    div#page.wrapper
      p(style="position: absolute; top: 360px; color: #fff;") Playa de Arena Gorda
      block content
    script(src="/now-ui-kit/js/core/jquery.3.2.1.min.js")
    script(src="/now-ui-kit/js/core/popper.min.js")
    script(src="/now-ui-kit/js/core/bootstrap.min.js")
    script(src="/now-ui-kit/js/now-ui-kit.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.js" type="text/javascript")
    script(src="/js/index.js" type="text/javascript")
