extends layout
block content
  .container
    .content-center
      h1.title Tripguide
      h3.description Mobile Travel app
      a.btn.btn-simple.btn-lg(href="#") Download
      a.btn.btn-primary.btn-lg(href="#") About
