doctype html
html(lang="es")
  head
    title #{title} | #{site_title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(href="/now-ui-kit/css/bootstrap.min.css", rel="stylesheet")
    link(href="/now-ui-kit/css/now-ui-kit.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.bg-info.navbar-transparent.navbar-light.navbar-expand-lg.fixed-top(color-on-scroll="300")
      .container
        .navbar-translate
          a.navbar-brand(href="/web" rel="tooltip" data-placement="bottom") Tripguide
        .collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/web/contact")
                i.now-ui-icons.ui-1_email-85
                |  Contacts
            li.nav-item
              a.nav-link(href="/api/site/admin") 
                i.now-ui-icons.users_single-02
                |  Dashboard
    .page-header.page-header.clear-filter(filter-color="orange")
      .page-header-image#web-header(data-parallax="false")
      .container
        .content-center
          .wrapper
            block content
    script(src="/now-ui-kit/js/core/jquery.3.2.1.min.js")
    script(src="/now-ui-kit/js/core/popper.min.js")
    script(src="/now-ui-kit/js/core/bootstrap.min.js")
    script(src="/now-ui-kit/js/now-ui-kit.js")
