extends layout
block content
  .card.card-signup(data-background-color="orange")
    .header.text-center
      h1.title(class="has-text-centered")= title
    form(class="form" role="form" method="POST")
      .card-body
        .input-group.form-group-no-border
          input.form-control(id="name" name="email" type="email" placeholder="Email..." required)
            
        .input-group.form-group-no-border
          input.form-control(id="password" name="password" type="password" placeholder="Password..." required)      
      .footer.text-center
          button.btn.btn-neutral.btn-lg(type="submit")= title
