extends layout
block content
  section(class="section")
    h1.title(class="has-text-centered")= title
    div.container
      div.columns
        div.column(class="is-3")
        div.column
          form(class="form" role="form" method="POST")
          
            div.field
              label.label(for="name") Name
              div.control
                input(class="input" id="name" name="name" type="text" placeholder="Name...")

            div.field
              label.label(for="email") Email
              div(class="control has-icons-left")
                input(class="input" id="name" name="email" type="email" placeholder="Email...")
                span(class="icon is-small is-left")
                    i(class="fa fa-user")
                
            div.field
              label.label(for="password") Password
              div.control
                input(class="input" id="password" name="password" type="password" placeholder="Password...")
            
            div.field
              label.label(for="repeatpassword") Repeat password
              div.control
                input(class="input" id="repeatpassword" name="repeatpassword" type="password" placeholder="Repeat Password...")
                
            div.field
              label.label(for="tokenId") TokenId
              div.control
                input(class="input" id="tokenId" name="tokenId" type="text" placeholder="tokenId")
            
            
            div.field(class="control")
              div.is-pulled-right
                button(class="button is-primary" type="submit")= title
        div.column(class="is-3")
